.u-container {
  width: min(100% - (var(--space-4) * 2), var(--container-max-width));
  margin-inline: auto;
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
